.Dictionary h1 {
  text-align: center;
  padding: 10px;
  font-size: 48px;
}
.Dictionary h2 {
  font-size: 18px;
}

.Dictionary section {
  background: #fcf8e8;
  margin: 16px;
  padding: 30px 45px;
  border-radius: 8px;
  box-shadow: 0 5px 5px #94b49f9c;
}

.Dictionary input {
  width: 100%;
  border: #94b49f solid 1px;
  border-radius: 4px;
  display: block;
  height: 64px;
  color: #666;
  font-size: 18px;
  line-height: 21px;
  padding: 22px;
  margin: 10px 0;
}
.Dictionary img {
  display: block;
  width: 60%;
  margin: 50px auto;
}
.Dictionary .home-link {
  width: fit-content;
  display: block;
  margin: 0 auto;
  padding: 8px 16px;
  background-color: white;
  color: #94b49f;
  border-radius: 8px;
  border: 1px solid #94b49f;
  transition: all 150ms ease-out;
  text-decoration: none;
}
.Dictionary .home-link:hover {
  background-color: #94b49f;
  color: white;
}

.Dictionary .example span {
  text-decoration: underline;
}
.Dictionary .example span:hover {
  cursor: pointer;
}
